body {
  position: relative;
  min-height: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  opacity: 1;
  font-size: 40px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  z-index: 0;
  overflow: scroll; }

.main {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  min-height: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: aliceblue;
  z-index: 1;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 400px auto 200px;
  row-gap: 50px; }
  .main.overlay {
    z-index: 0;
    filter: blur(9px); }
  .main #header-background {
    grid-row: 0 / 1;
    grid-column: 2 / 2;
    background-image: url(../img/history/harbour1.jpg);
    background-size: cover; }
  .main .container {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    width: 100%;
    min-height: 100%; }
    .main .container .headerr {
      margin-left: 4vh;
      text-align: left;
      font-size: 4rem;
      font-weight: 600; }
    .main .container .inside-paragraph {
      margin-top: 1vh; }
    .main .container h1 {
      text-align: center;
      font-size: 6rem;
      font-weight: 600; }
    .main .container p {
      margin-top: 4vh;
      margin-left: 4vh;
      margin-right: 4vh;
      text-indent: 10%;
      font-size: 2rem;
      background: #c9c9c9;
      border-radius: 2px;
      padding: 1rem;
      box-shadow: .25px .45px 4px .75px #333; }
    .main .container .old-street, .main .container .akershus, .main .container .frogner-park, .main .container .akerselva {
      width: 100%; }
  .main .footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    text-justify: center;
    background: rgba(17, 13, 53, 0.993); }
    .main .footer h8 {
      color: white; }

.menu-btn {
  position: absolute;
  left: 3%;
  top: 1%;
  z-index: 2;
  visibility: visible;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.4s;
  transition-property: left; }
  .menu-btn .menu-btn-line, .menu-btn .menu-btn-line:nth-child(2), .menu-btn .menu-btn-line:nth-child(3), .menu-btn.close .menu-btn-line:nth-child(1), .menu-btn.close .menu-btn-line:nth-child(2), .menu-btn.close .menu-btn-line:nth-child(3) {
    width: 30px;
    display: block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0px;
    top: 0px;
    height: 5px;
    background-color: black;
    border-radius: 0px;
    opacity: 1;
    transition-duration: 0.4s;
    transition-property: width; }
    .menu-btn .menu-btn-line:nth-child(2), .menu-btn.close .menu-btn-line:nth-child(2) {
      width: 25px; }
    .menu-btn .menu-btn-line:nth-child(3), .menu-btn.close .menu-btn-line:nth-child(3) {
      width: 20px; }
  .menu-btn.close {
    left: 16%; }
    .menu-btn.close .menu-btn-line:nth-child(1) {
      width: 20px; }
    .menu-btn.close .menu-btn-line:nth-child(2) {
      width: 25px; }
    .menu-btn.close .menu-btn-line:nth-child(3) {
      width: 30px; }

.sidebar {
  position: absolute;
  top: 0;
  left: -25vh;
  z-index: 3;
  font-size: 15px;
  width: 15vh;
  height: 100%;
  visibility: visible;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.822), rgba(8, 8, 12, 0.822));
  transition: transform 0.4s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }
  .sidebar-header {
    flex-grow: 0;
    flex-basis: 2;
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 70px;
    width: 100%;
    background: #072475;
    padding-bottom: 2rem;
    padding-top: 2rem; }
  .sidebar.show {
    width: 15%;
    transform: translateX(25vh); }
  .sidebar .menu-nav {
    flex-grow: 3;
    flex-basis: 3;
    list-style-type: none;
    width: 100%;
    flex-direction: column;
    margin: 0; }
  .sidebar .nav-item {
    position: relative;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 100%;
    border-color: black;
    text-align: center;
    box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.25); }
    .sidebar .nav-item:hover {
      background: #1d1919;
      color: #444444; }
  .sidebar .nav-link {
    text-decoration: none;
    color: white;
    width: auto;
    text-align: center;
    margin: 0;
    font-size: 1.7rem; }

@media screen and (min-width: 450px) and (max-width: 1170px) {
  .menu-btn.close {
    left: 41vh; }
  .sidebar.show {
    width: 40vh;
    transform: translateX(25vh); }
  .sidebar-header {
    font-size: 1rem; }
  .main .container h1 {
    font-size: 2.5rem; } }

@media screen and (max-width: 449px) {
  .menu-btn.close {
    left: 41vh; }
  .sidebar.show {
    width: 40vh;
    transform: translateX(25vh); }
  .sidebar-header {
    font-size: 1rem; }
  .main .container h1 {
    font-size: 1.7rem; }
  .main .container .headerr {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.5rem; }
  .main .container p {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0; }
  .main .footer {
    font-size: 1.5rem; } }
