.menu-btn {
  position: absolute;
  left: 3%;
  top: 1%;
  z-index: 2;
  visibility: visible;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.4s;
  transition-property: left; }
  .menu-btn .menu-btn-line, .menu-btn .menu-btn-line:nth-child(2), .menu-btn .menu-btn-line:nth-child(3), .menu-btn.close .menu-btn-line:nth-child(1), .menu-btn.close .menu-btn-line:nth-child(2), .menu-btn.close .menu-btn-line:nth-child(3) {
    width: 30px;
    display: block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0px;
    top: 0px;
    height: 5px;
    background-color: black;
    border-radius: 0px;
    opacity: 1;
    transition-duration: 0.4s;
    transition-property: width; }
    .menu-btn .menu-btn-line:nth-child(2), .menu-btn.close .menu-btn-line:nth-child(2) {
      width: 25px; }
    .menu-btn .menu-btn-line:nth-child(3), .menu-btn.close .menu-btn-line:nth-child(3) {
      width: 20px; }
  .menu-btn.close {
    left: 16%; }
    .menu-btn.close .menu-btn-line:nth-child(1) {
      width: 20px; }
    .menu-btn.close .menu-btn-line:nth-child(2) {
      width: 25px; }
    .menu-btn.close .menu-btn-line:nth-child(3) {
      width: 30px; }

.sidebar {
  position: absolute;
  top: 0;
  left: -25vh;
  z-index: 3;
  font-size: 15px;
  width: 15vh;
  height: 100%;
  visibility: visible;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.822), rgba(8, 8, 12, 0.822));
  transition: transform 0.4s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }
  .sidebar-header {
    flex-grow: 0;
    flex-basis: 2;
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 70px;
    width: 100%;
    background: #072475;
    padding-bottom: 2rem;
    padding-top: 2rem; }
  .sidebar.show {
    width: 15%;
    transform: translateX(25vh); }
  .sidebar .menu-nav {
    flex-grow: 3;
    flex-basis: 3;
    list-style-type: none;
    width: 100%;
    flex-direction: column;
    margin: 0; }
  .sidebar .nav-item {
    position: relative;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 100%;
    border-color: black;
    text-align: center;
    box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.25); }
    .sidebar .nav-item:hover {
      background: #1d1919;
      color: #444444; }
  .sidebar .nav-link {
    text-decoration: none;
    color: white;
    width: auto;
    text-align: center;
    margin: 0;
    font-size: 1.7rem; }

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  opacity: 1;
  font-size: 40px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  min-height: 100%; }
  body > h1 {
    color: black; }

.main {
  position: relative;
  min-height: 100%;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 400px auto 400px 400px;
  grid-auto-flow: row;
  grid-auto-rows: 200px;
  overflow-y: hidden;
  row-gap: 10px;
  column-gap: 5px;
  padding: 0;
  margin: 0; }
  .main.overlay {
    z-index: 0;
    filter: blur(9px); }
  .main #picture-1 {
    grid-column: 2 / 10;
    grid-row-start: 2;
    background-image: url(../img/oslo-day.jpg);
    background-size: cover;
    z-index: 1;
    height: 400px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
  .main #picture-2 {
    grid-column: 2 / 10;
    grid-row: 4 / 5;
    width: 100%;
    background: url(../img/liten-bukt.jpg);
    background-size: cover; }
  .main #picture-3 {
    grid-column: 2 / 6;
    grid-row: 5/6;
    background: url(../img/oslo14.jpg);
    background-size: cover; }
  .main #picture-4 {
    grid-column: 6/10;
    grid-row: 5/6;
    background: url(../img/church-oslo.jpg);
    background-size: cover; }
  .main #empty-space {
    grid-row: 6/6;
    grid-column: 0/10; }
  .main .container {
    border-radius: 3px;
    border-style: hidden;
    box-shadow: 0px 0px 20px black;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
    height: 100%; }
  .main #container-1 {
    grid-column: 2/10;
    grid-row: 3/4;
    height: auto; }
    .main #container-1 p {
      font-size: 2rem; }
    .main #container-1 h1 {
      position: relative;
      left: 43%;
      font-size: 2.5rem; }
    .main #container-1 #text-1 {
      margin-left: 10px;
      margin-right: 10px;
      position: static; }
  .main #welcome-text {
    grid-column: 2/10;
    grid-row: 1/1;
    z-index: 1;
    font-size: 4rem;
    font-weight: 900; }
  .main.overlay {
    filter: blur(5px); }

.footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  background: rgba(17, 13, 53, 0.993);
  margin-top: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white; }

@media screen and (max-width: 449px) {
  .sidebar.show {
    width: 40vh;
    transform: translateX(25vh); }
  .menu-btn.close {
    left: 41vh; }
  .main {
    grid-template-rows: 1fr 400px auto 400px 400px 500px 100px; }
    .main #picture-3 {
      grid-column: 2/10;
      grid-row: 5 / 6; }
    .main #picture-4 {
      grid-column: 2/10;
      grid-row: 6 / 7; }
    .main #welcome-text {
      font-size: 2rem; }
    .main #container-1 p {
      font-size: 1.4rem; }
    .main .footer {
      font-size: 1 rem; } }

@media screen and (min-width: 450px) and (max-width: 1170px) {
  .sidebar.show {
    width: 40vh;
    transform: translateX(25vh); }
  .menu-btn.close {
    left: 41vh; }
  .main #container-1 p {
    font-size: 1.8rem; } }
