.menu-btn {
  position: absolute;
  left: 3%;
  top: 1%;
  z-index: 2;
  visibility: visible;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.4s;
  transition-property: left; }
  .menu-btn .menu-btn-line, .menu-btn .menu-btn-line:nth-child(2), .menu-btn .menu-btn-line:nth-child(3), .menu-btn.close .menu-btn-line:nth-child(1), .menu-btn.close .menu-btn-line:nth-child(2), .menu-btn.close .menu-btn-line:nth-child(3) {
    width: 30px;
    display: block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0px;
    top: 0px;
    height: 5px;
    background-color: black;
    border-radius: 0px;
    opacity: 1;
    transition-duration: 0.4s;
    transition-property: width; }
    .menu-btn .menu-btn-line:nth-child(2), .menu-btn.close .menu-btn-line:nth-child(2) {
      width: 25px; }
    .menu-btn .menu-btn-line:nth-child(3), .menu-btn.close .menu-btn-line:nth-child(3) {
      width: 20px; }
  .menu-btn.close {
    left: 16%; }
    .menu-btn.close .menu-btn-line:nth-child(1) {
      width: 20px; }
    .menu-btn.close .menu-btn-line:nth-child(2) {
      width: 25px; }
    .menu-btn.close .menu-btn-line:nth-child(3) {
      width: 30px; }

.sidebar {
  position: absolute;
  top: 0;
  left: -25vh;
  z-index: 3;
  font-size: 15px;
  width: 15vh;
  height: 100%;
  visibility: visible;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.822), rgba(8, 8, 12, 0.822));
  transition: transform 0.4s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }
  .sidebar-header {
    flex-grow: 0;
    flex-basis: 2;
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 70px;
    width: 100%;
    background: #072475;
    padding-bottom: 2rem;
    padding-top: 2rem; }
  .sidebar.show {
    width: 15%;
    transform: translateX(25vh); }
  .sidebar .menu-nav {
    flex-grow: 3;
    flex-basis: 3;
    list-style-type: none;
    width: 100%;
    flex-direction: column;
    margin: 0; }
  .sidebar .nav-item {
    position: relative;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 100%;
    border-color: black;
    text-align: center;
    box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.25); }
    .sidebar .nav-item:hover {
      background: #1d1919;
      color: #444444; }
  .sidebar .nav-link {
    text-decoration: none;
    color: white;
    width: auto;
    text-align: center;
    margin: 0;
    font-size: 1.7rem; }

body {
  background: linear-gradient(90deg, #434343, #29323c);
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  width: 100%;
  background-size: auto;
  scroll-behavior: smooth; }

.menu-btn {
  top: 1.5%;
  left: 1.5%; }

.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 200px 600px 600px 600px 300px;
  grid-row-gap: 100px;
  overflow-y: scroll; }
  .main.overlay {
    z-index: 0;
    filter: blur(9px); }
  .main h3 {
    text-align: center;
    text-justify: center;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    font-size: 4rem;
    margin-bottom: 50px; }
  .main .club-container-1 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background: #ebdfdfda;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row; }
    .main .club-container-1 .picture-1 {
      position: relative;
      flex: 4;
      background-image: url("../img/nightlife/HRC_Oslo.jpeg");
      filter: blur(3px);
      -webkit-filter: blur(3px);
      background-size: cover;
      margin: 0.5rem;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      transition: filter; }
      .main .club-container-1 .picture-1.focused-on {
        filter: none; }
    .main .club-container-1 .text-1 {
      position: relative;
      flex: 3;
      background: #1e252c;
      margin: 0.5rem;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      transition-property: flex;
      transition-duration: 400ms;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      overflow-y: scroll;
      display: flex;
      flex-direction: column; }
      .main .club-container-1 .text-1 h1 {
        text-align: center;
        font-size: 3rem; }
      .main .club-container-1 .text-1 p {
        font-size: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        text-indent: 1.5rem; }
      .main .club-container-1 .text-1 a {
        top: 50%;
        left: 50%;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        padding: 1rem;
        background-color: rgba(51, 39, 71, 0.61);
        border-radius: 5%;
        color: black;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); }
      .main .club-container-1 .text-1.close {
        flex: 2; }
  .main .club-container-2 {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    background: #ebdfdfda;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row; }
    .main .club-container-2 .picture-2 {
      position: relative;
      flex: 4;
      background-image: url("../img/nightlife/dubliner.jpg");
      filter: blur(3px);
      -webkit-filter: blur(3px);
      background-size: cover;
      margin: 0.5rem;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      transition: filter; }
      .main .club-container-2 .picture-2.focused-on {
        filter: none; }
    .main .club-container-2 .text-2 {
      position: relative;
      flex: 3;
      background: #1e252c;
      margin: 0.5rem;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      transition-property: flex;
      transition-duration: 400ms;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      overflow-y: scroll;
      display: flex;
      flex-direction: column; }
      .main .club-container-2 .text-2 h1 {
        text-align: center;
        font-size: 3rem; }
      .main .club-container-2 .text-2 p {
        font-size: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        text-indent: 1.5rem; }
      .main .club-container-2 .text-2 a {
        top: 50%;
        left: 50%;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        padding: 1rem;
        background-color: rgba(51, 39, 71, 0.61);
        border-radius: 5%;
        color: black;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); }
      .main .club-container-2 .text-2.close {
        flex: 2; }
  .main .club-container-3 {
    grid-column: 2/2;
    grid-row: 4/4;
    background: #ebdfdfda;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row; }
    .main .club-container-3 .picture-3 {
      position: relative;
      flex: 4;
      background-image: url("../img/nightlife/villa.jpg");
      filter: blur(3px);
      -webkit-filter: blur(3px);
      background-size: cover;
      margin: 0.5rem;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      transition: filter; }
      .main .club-container-3 .picture-3.focused-on {
        filter: none; }
    .main .club-container-3 .text-3 {
      position: relative;
      flex: 3;
      background: #1e252c;
      margin: 0.5rem;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      transition-property: flex;
      transition-duration: 400ms;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
      overflow-y: scroll;
      display: flex;
      flex-direction: column; }
      .main .club-container-3 .text-3 h1 {
        text-align: center;
        font-size: 3rem; }
      .main .club-container-3 .text-3 p {
        font-size: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        text-indent: 1.5rem; }
      .main .club-container-3 .text-3 a {
        top: 50%;
        left: 50%;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        padding: 1rem;
        background-color: rgba(51, 39, 71, 0.61);
        border-radius: 5%;
        color: black;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); }
      .main .club-container-3 .text-3.close {
        flex: 2; }
  .main .empty-space {
    grid-row: 5/5; }

@media screen and (min-width: 450px) and (max-width: 1170px) {
  .sidebar.show {
    width: 40vh;
    transform: translateX(25vh); }
  .sidebar-header {
    font-size: 1.5rem; }
  .menu-btn.close {
    left: 41vh; }
  .main .club-container-1 {
    flex-direction: column; }
    .main .club-container-1 .text-1 p {
      font-size: 1.7rem; }
  .main .club-container-2 {
    flex-direction: column; }
    .main .club-container-2 .text-2 p {
      font-size: 1.7rem; }
  .main .club-container-3 {
    flex-direction: column; }
    .main .club-container-3 .text-3 p {
      font-size: 1.7rem; } }

@media screen and (max-width: 449px) {
  .sidebar.show {
    width: 40vh;
    transform: translateX(25vh); }
  .sidebar-header {
    font-size: 1rem; }
  .menu-btn.close {
    left: 41vh; }
  .main .club-container-1 {
    flex-direction: column; }
    .main .club-container-1 .text-1 p {
      font-size: 1.7rem; }
  .main .club-container-2 {
    flex-direction: column; }
    .main .club-container-2 .text-2 p {
      font-size: 1.7rem; }
  .main .club-container-3 {
    flex-direction: column; }
    .main .club-container-3 .text-3 p {
      font-size: 1.7rem; } }
